[submodule "NN"]
	path = NN
	url = https://github.com/SujithSaiSripadam/NN.git
[submodule "ML_Models"]
	path = ML_Models
	url = https://github.com/SujithSaiSripadam/MLModels.git
[submodule "NeuralNetworks"]
	path = NeuralNetworks
	url = https://github.com/SujithSaiSripadam/NN.git
